@import "../node_modules/rsuite/dist/rsuite.css";
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap');
@import 'leaflet/dist/leaflet.css';
@import "mapbox-gl/dist/mapbox-gl.css";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    -webkit-overflow-scrolling: touch;
}

html {
    overscroll-behavior: none;
}

* {
    box-sizing: border-box;
}

@supports (height: 100dvh) {
    .h-screen-dvh {
        height: 100dvh;
    }
}

@supports not (height: 100dvh) {
    .h-screen-dvh {
        height: 100vh; /* Fallback */
    }
}

.leaflet-container {
    /*height: 200px;*/
    /*max-width: 100%;*/
    /*width: 200px;*/
    height: 100%;
    width: 100%;
    /*min-height: 100%;*/
}

.deck-tooltip {
    font-size: 0.8em;
}

.rs-nav-item.rs-nav-item-active {
    color: dimgray;
    /*background-color: red;*/
}

.rs-nav-item {
    color: gainsboro;
}

/*@keyframes fadein {*/
/*    from {*/
/*        opacity: 0;*/
/*    }*/
/*    to {*/
/*        opacity: 1;*/
/*    }*/
/*}*/


/*.mapboxgl-popup {*/
/*    animation: fadein 0.5s;*/
/*}*/


.mapboxgl-popup-content {
    padding: 0;
    /*background-color: #b6a1e3;*/
    /*max-width: 400px;*/
    /*min-width: 50px;*/
    border-radius: 12px;
    /*padding: 1px 1px;*/
    /*box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);*/
    /*min-width: 300px;*/
}

/*.mapboxgl-popup .mapboxgl-popup-tip {*/
/*    display: none !important;*/
/*}*/

.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip {
    display: none !important;
    border-top-color: transparent !important;
    border-bottom-color: transparent !important;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
}

/*.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,*/
/*.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,*/
/*.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {*/
/*    border-left: 0 solid grey !important;*/
/*    border-right: 0 solid grey !important;*/
/*    border-bottom: 0 solid grey !important;*/
/*    border-top: 0 solid grey !important;*/
/*    !*border-top-color: rgb(55, 65, 81) !important;*!*/
/*    !*border-bottom-color: rgb(55, 65, 81) !important;*!*/

/*    !*border-bottom-color: rgba(227, 15, 15, 0);*!*/
/*    !*border-left-color: rgba(55, 65, 81, 50);*!*/
/*    !*display: none;*!*/
/*}*/

/*.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,*/
/*.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,*/
/*.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {*/
/*    !*border-top-color: rgba(230, 15, 15, 0);*!*/
/*    border-left-color: rgba(55, 65, 81, 0);*/
/*    display: none;*/

/*}*/

/*.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {*/
/*    !*border-right-color: rgba(234, 14, 14, 0);*!*/
/*    border-left-color: rgba(55, 65, 81, 0);*/
/*    display: none;*/

/*}*/

/*.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {*/
/*    !*border-left-color: rgba(230, 14, 14, 0);*!*/
/*    border-left-color: rgba(55, 65, 81, 0);*/
/*    display: none;*/

/*}*/

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOutToRight {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

.slide-in {
    animation: slideInFromRight 0.5s forwards;
}

.slide-out {
    animation: slideOutToRight 0.5s forwards;
}

